{% extends "base.html" %}
{% block title %}Home - My Flask App{% endblock %}

{% block content %}
<!-- header section starts  -->


<!--header-end-->

<!-- header section ends -->
<div class="home-container">

  
<!-- about section starts  -->

<section class="aboutus" id="aboutus">

  <h1 class="heading"> <span>about us </span></h1>

    <div class="row">
      
        <div class="image">
            <img src="../img/allproducts.jpg" alt="">
        </div>

        <div class="content">
            <h3>Our Story</h3>
            <p>Revolutionize your interior design experience with our cutting-edge web app! 
              Simply upload a photo or choose your color palette, tell us about your room and preferred aesthetic, 
              select your furniture type, and let the magic happen. Watch as our AI transforms your vision into reality, 
              delivering bespoke furniture recommendations tailored just for you!           
                </p>
            
        </div>

        <div class="image">
          <img src="../6101073.jpg" alt="">
      </div>
      <div class="content">
        <h3>Our Team: MISFIT</h3>
            <p>
                Ishan Ingolikar,
                Tavishi Saxena,
                Shubh Bajpai,
                Iffat Abdul Azeez,
                Fahad Assadi and
                Anne Tillekeratne
            </p>
    </div>
    </div>

</section>

<!-- about section ends -->
<section class="menu" id="menu">

      
          
  <div class="box-container">       

    <div class="box">
        <h3>OUR VISION</h3>
        <div class="price">Our Vision is to make it easier for you to pick the best furniture.</div>
    </div>
  

    <div class="box">
        <h3>OUR MISSION</h3>
        <div class="price"> Once the suggested furniture is added to the wishlist, you will be notified of the price changes
          so that the product can be purchased at the most affordable cost.
          </div>
    </div>

    <div class="box">
        <h3>OUR VALUES</h3>
        <div class="price">Highest level of integrity, Fair and ethical business practice,
        Highest level of stakeholder satisfaction and customer loyalty,
          Continuous learning and innovation
          </div>
    </div>
    <div class="box">
      <h3>OUR GOALS</h3>
      <div class="price">Our goal is your quality whilst ensuring high level of productivity 
        </div>
  </div>

    
    


    </div>

</section>

</div>


  <div class="credit">created by <span>MISFIT</span> | all rights reserved</div>

</section>
{% endblock %}

<body>

<!-- footer section ends -->

<!-- custom js file link  -->
<script src="../js/script.js"></script>

</body>
</html>