{% extends "base.html" %}
{% block title %}Home - My Flask App{% endblock %}

{% block content %}
<div class="home-container">

  <section class="home" id="home">

      <div class="content">
          <h1>DECORA</h1>
          <h3>Crafting Your Space, Your Way—Find Your Perfect Piece Today!</h3>
          <p>Choose your favourite colour palette and aethetics to find the most suitable furniture which meets your requirements</p>
          <a href="{{ url_for('search') }}" class="btn">Explore now</a>
      </div>
  
  </section>

</div>
{% endblock %}
<body>
    


<!-- custom js file link  -->
<script src="../js/script.js"></script>

</body>
</html>